<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.firebirdberlin.rocketlaunch"
      android:versionCode="6"
      android:versionName="0.3.2">
    <uses-sdk  android:minSdkVersion="14"
                android:targetSdkVersion="18"/>
    <application android:label="RocketLaunch"
        android:icon="@drawable/ic_launcher"
        android:theme="@android:style/Theme.Holo">
        <activity android:name="RocketLaunch"
                  android:label="RocketLaunch"
                  android:configChanges="orientation|keyboard|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.ASSIST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
